{% extends 'base.html' %}
{% block title %}Kahvaltılıklar{% endblock %}

{% block content %}
<div class="page-products">
  <div class="gallery-list gl_col_3">
    <h1>Kahvaltılıklar</h1>
    {% for product in products %}
    <div class="gallery-item">
      <div class="gallery-item-name"><h2>{{ product.title }}</h2></div>
      <div class="gallery-image">
        <img src="{{ url_for('static', filename='uploads/' + product.photo) }}" alt="" >
      </div>
      <div class="gallery-text">
        <div class="gallery-description">
          <p>{{ product.description }}</p>
        </div>
      </div> 
      <div class="clear"></div>                               
    </div>
    {% endfor %}
    <div class="clear"></div>           
  </div>
</div>
{% endblock %}
