{% extends 'admin/model/create.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/jcrop.css')}}" type="text/css" />
{% endblock %}
{% block tail %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.color.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jcrop.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/image_upload_form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
{% endblock %}

