<p>Sayin yetkili, <strong>{{customer.name}}</strong> isimli ziyaretciniz internet siteniz uzerinden sizinle iletisime gecmek istiyor.</p>
<table>
  <tr>
    <td width="100">Ad Soyad:</td>
    <td>{{customer.name}}</td>
  </tr>
  <tr>
    <td>E-Posta:</td>
    <td>{{customer.email}}</td>
  </tr>
  <tr>
    <td>Telefon:</td>
    <td>{{customer.phone}}</td>
  </tr>
  <tr>
    <td>Sehir</td>
    <td>{{customer.city}}</td>
  </tr>
  <tr>
    <td>Mesaj:</td>
    <td>{{customer.message}}</td>
  </tr>
</table>
